/* Write your code here. */
* {
  box-sizing: border-box;
}
body {
  margin: 0px;
}
.bgContainer {
  background-image: url("https://assets.ccbp.in/frontend/react-js/congrats-card-bg.png");
  min-height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.heading {
  font-size: 26px;
  font-family: "Roboto";
  font-weight: 600;
}

.cardContainer {
  background-color: #cffafe;
  padding: 20px;
  margin: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.name {
  font-size: 22px;
  font-family: "Roboto";
  font-weight: 400;
}

.description {
  font-size: 20px;
  font-family: "Roboto";
  font-weight: 300;
}

@media screen and (max-width: 767px) {
  .logo-card {
    width: 90px;
    height: 90px;
  }
}

@media screen and (min-width: 768px) {
  .logo-card {
    width: 250px;
    height: 250px;
  }
  .heading {
    font-size: 50px;
  }

  .name {
    font-size: 38px;
  }
  .description {
    font-size: 28px;
  }
}
